#body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 5px;
  margin: 10px;
}

.mini-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#mostrarPromedio,
#apareceMas,
#masRapidos,
#masLento {
  border: 2px solid black;
  border-radius: 5px;
  margin: 10px;
}
